<header id="header">
    <div class="nav-container">
        <div>
            <!-- Mobile Navigation Starts -->
            <ul id="nav" class="navigation">
            {%- for menu in site.data.navigation.menu -%}
                <li class="{% if forloop.first %} active {% endif %}">
                    <div>
                        <a id="link-{{ menu.url | replace: '#', '' }}" href="{{ menu.url }}" class="{% if forloop.first %} active {% endif %}">
                            <i class="{{ menu.icon_class }}"></i><span>{{ menu.title }}</span>
                        </a>
                    </div>
                </li>
            {%- endfor -%}
            </ul>
            <!-- Mobile Navigation Ends -->
        </div>
    </div>
    <!-- Stretchy Navigation Starts -->
    <div class="cd-stretchy-nav">
        <a class="cd-nav-trigger" href="#0">
            <span aria-hidden="true"></span>
        </a>
        <ul class="stretchy-nav">
            {%- for menu in site.data.navigation.menu -%}
            <li class="{% if forloop.first %} active {% endif %}">
                <a href="{{ menu.url }}"><span>{{ menu.title }}</span></a>
            </li>
            {%- endfor -%}
        </ul>
        <span aria-hidden="true" class="stretchy-nav-bg"></span>
    </div>
    <!-- Stretchy Navigation Ends -->
</header>