<section id="home" class="active">
    <!-- Text Rotator Starts -->
    <div class="main-text-container">
        <img class="leftimagepicture" src="assets/img/leftimage-dark.jpg" alt="">
        <div class="main-text" id="selector">
            <h3>{{ site.home.tagline }}</h3>
            <h1 class="ah-headline clip is-full-width">
                I'm
                <span class="ah-words-wrapper" style="width: 46.053px; overflow: hidden;">
                {{ site.home.headline }}
                </span>
            </h1>
            <p>{{ site.home.description }}</p>
            <div class="call-to-actions-home">
                <div class="text-left">
                    <a href="#about" class="btn link-portfolio-one">
                        <span>{{ site.about.more_about_me }}</span>
                    </a>
                    <a href="#work" class="btn btn-secondary link-portfolio-two">
                        <span>{{ site.about.portfolio }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Text Rotator Ends -->
</section>